spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: emailcadastradoparachave@gmail.com
    password: chave deaces ssod eapp
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 3000
          writetimeout: 5000

  thymeleaf:
    enabled: true

envio:
  email:
    remetente: 'seu-email@gmail.com'
    nomeRemetente: 'seu-nome'
server:
  port: 8082